<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.loffler.scanServ">

    <queries>
        <package android:name="com.neldtv.mips" />
    </queries>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.USB_PERMISSION" />

    <application
        android:name=".ScanServerApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".welcomescreen.WelcomeSettingsActivity"
            android:parentActivityName=".NavigationActivity" />
        <activity android:name=".welcomescreen.WelcomeActivity" />
        <activity
            android:name=".cdcsetting.CDCSettingActivity"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".cdcgesture.DetectorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".welcomescreen.WelcomeDetectorActivity" />
        <activity
            android:name=".cdcgesture.CameraActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dashboard.DashboardSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <service
            android:name=".ScanService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ConfigService"
            android:enabled="true" />
        <service android:name=".service.FloatingWidgetService"/>

        <activity
            android:name=".NavigationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".BadgePrintSettingsActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SQLSettingsActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AboutPageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".SupportPageActivity"
            android:windowSoftInputMode="stateHidden" />

        <receiver
            android:name=".DailyAlarmReceiver"
            android:process=":remote" />
        <receiver android:name=".PeriodicUpdateAlarmReceiver" />
        <receiver android:name=".TrialValidityCheckAlarmReceiver" />
        <receiver android:name=".USBEventReceiver">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </receiver>
        <receiver
            android:name=".UpdateHandler"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BootStartupReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.loffler.scanServ.reboot" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ProductKeyActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>